* {
    font-family: Arial;
}

body {
    max-width: 800px;
    margin: auto;
    height: 2000px;
    position: relative;
}

h1 {
    font-size: 2.5rem;
}

.inicio {
    display: grid;
}

.principal {
    font-size: 1.5rem;
    background-color: lightblue;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 4px;
    border: 2px lightsteelblue solid;
}

a {
    text-decoration: none;
    color: black;
}

.link {
    margin: 0;
    place-self: center;
    background-color: lightcoral;
    padding: .5rem 1rem;
    border-radius: 4px;
    transition: .3s;
}

.link:hover {
    color: white;
    font-size: 1.2rem;
    border: 1px solid black;
}

.link a:hover {
    color: white;
}

.mark{
    position: relative;
    color: rgb(231, 78, 78);
    transition: .3s;
}

.mark::before{
    content: "Parabéns!";
    bottom: 0%;
    left: 30%;
    position: absolute;
    background-color: rgba(182, 182, 182, 0.49);
    border: 1px rgba(182, 182, 182, 0.77) solid;
    padding: .5rem;
    border-radius: 4px;
    font-size: 1rem;
    transform: scale(0);
    transition: .3s;
}

.mark:hover::before{
    transform: scale(1);
    bottom: 100%;
    left: 30%;
}

.mark2{
    transition: .6s;
    transform: scale(0);
}

.mark2:hover{
    transform: scale(1);
    text-decoration: underline rgb(231, 78, 78);
}

.inicio::after {
    content: "";
    background-color: black;
    height: 1px;
    width: 800px;
    top: 29vh;
    position: absolute;
}

.rodape {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
}

.rodape {
    padding: 5px;
    font-size: 1.2rem;
    color: black;
    background-color: lightgreen;
    text-align: center;
}

.rodape a {
    color: rgb(255, 94, 94);
    transition: .3s;
}

.rodape a:hover {
    color: rgb(255, 130, 130);
    font-size: 1.3rem;
}